---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrevious from "@components/BackToPrevious.astro";
import IssueNavigation from "@components/IssueNavigation.astro";

export async function getStaticPaths() {
  const issues = (await getCollection("issues"))
    .filter((issue) => !issue.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return issues.map((issue) => ({
    params: { id: issue.id.replace(/\/index\.md$/, "").replace(/\.md$/, "") },
    props: issue,
  }));
}
type Props = CollectionEntry<"issues">;

const issues = (await getCollection("issues"))
  .filter((issue) => !issue.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

function getNextIssue() {
  let issueIndex;
  for (const issue of issues) {
    if (issue.id.replace(/\/index\.md$/, "").replace(/\.md$/, "") === Astro.params.id) {
      issueIndex = issues.indexOf(issue);
      return issues[issueIndex + 1];
    }
  }
}

function getPrevIssue() {
  let issueIndex;
  for (const issue of issues) {
    if (issue.id.replace(/\/index\.md$/, "").replace(/\.md$/, "") === Astro.params.id) {
      issueIndex = issues.indexOf(issue);
      return issues[issueIndex - 1];
    }
  }
}

const nextIssue = getNextIssue();
const prevIssue = getPrevIssue();

const issue = Astro.props;
const { Content } = await render(issue);
---

<Layout title={issue.data.title} description={issue.data.description}>
  <Container>
    <div class="space-y-16 pb-0">
      <div class="my-10 space-y-1">
        <h1 class="animate text-3xl font-semibold text-black dark:text-white">
          {issue.data.title}
        </h1>
        <div class="animate flex items-center gap-1.5">
          <div class="font-base text-sm">
            <FormattedDate date={issue.data.date} />
          </div>
          &bull;
          {issue.body && (
            <div class="font-base text-sm">
              {readingTime(issue.body)}
            </div>
          )}        
        </div>
      </div>
      <span class="block w-fit mx-auto">
        <a
          href="https://etherealnews.substack.com/subscribe"
          class="not-prose group relative flex w-fit flex-nowrap rounded-sm border border-black/15 py-1.5 px-3 transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white justify-center items-center"
        >
          <div class="text-sm font-bold">
            Subscribe to Ethereal news
          </div>
        </a>
      </span>
      <article class="animate mb-0">
        <Content />
        <div class="mt-12">
          <IssueNavigation prevIssue={prevIssue} nextIssue={nextIssue} />
        </div>
        <div class="mt-1 mb-0">
          <BackToPrevious href="/archive">Back to archive </BackToPrevious>
        </div>
      </article>
    </div>
  </Container>
</Layout>
